@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: "RobotoC-300";
  src: url(../../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: "RobotoC-400";
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "RobotoC-700";
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 80px;
}

.container, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

body {
  font-family: "Roboto Condensed";
}

.container-sm__img img {
  width: 100%;
}
@media (max-width: 805px) {
  .container-sm__img img {
    width: 100%;
  }
}
.container-sm__tittles {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.container-sm__tittles h6 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  background: linear-gradient(163deg, #a54e2b 0%, #dc9853 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-sm__tittles h1 {
  color: #161722;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.container-sm__tittles__h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-sm__tittles__h4:first-child {
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container-sm__tittles__h4:last-child {
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container-sm__first-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-sm__first-content h1 {
  color: #161722;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.container-sm__first-content p {
  color: #161722;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container-sm__second-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-sm__second-content h1 {
  color: #161722;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.container-sm__second-content > p {
  color: #161722;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container-sm__second-content__overflow {
  height: 100px;
  overflow: auto;
  overflow-x: none;
}
.container-sm__second-content__overflow p {
  color: #161722;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.container-sm__img {
  padding-top: 48px;
  padding-bottom: 48px;
}
.container-sm__third-content h1 {
  color: #161722;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.container-sm__third-content p {
  color: #161722;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container-sm__third-content ol {
  list-style-type: disc;
  padding-left: 19px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container-sm__third-content:last-child {
  padding-top: 24px;
  padding-bottom: 50px;
}

.container img {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (max-width: 800px) {
  .container img {
    width: 100%;
  }
}