<header class="header" id="navbar">
  <div class="container header__container">
    <div class="header__logo">
      <img src="images/Logo.svg" alt="" />
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Sermon</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Blog</a>
        </li>
      </ul>
      <button class="header__btn">Contact us</button>
    </nav>
  </div>
</header>
