@font-face {
  font-family: "RobootC-300";
  src: url(../../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: "RobootC-400";
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "RobootC-700";
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}
